
.vs/Gnomi.Models/v16/.suo
.vs/Gnomi.Models/v16/Server/sqlite3/db.lock
.vs/Gnomi.Models/v16/Server/sqlite3/storage.ide
.vs/Gnomi.Models/v16/Server/sqlite3/storage.ide-shm
.vs/Gnomi.Models/v16/Server/sqlite3/storage.ide-wal
